.hover-elevate {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }
}

.content-box {
    max-height: 150px;
    overflow-y: auto;
    white-space: pre-wrap;
    line-height: 1.6;
    border: 1px solid #eee;
}

.form-select,
.form-control {
    &:focus {
        box-shadow: none;
        border-color: var(--primary-color);
    }
}

.animate__animated {
    --animate-duration: 0.5s;
}